
#login{
  width: 150px;
  height: 50px;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.992);
 background-color: #ffffff00;
 border: white 1.5px solid;
  
}
.photo {
  background-image: url("download.jpeg");
  height: 85vh;
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo button{
  margin-top: 0;
  transition: .5s;
}

.photo button:hover{
  transform: scale(.9);
}

  .photo div:first-of-type {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    text-shadow: 1px 1px 3px black;
  }
  .gg{
    background: linear-gradient(to right, #486bc4, #7931ee);
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
   
    color: white;
    border-radius: 5px;
  }

  .photo .button {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .hid:hover{
    color: #7931ee;
    border: #7931ee 1.5px solid;
  }

  .photo button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ffffff00;
    color: white;
    border-radius: 5px;
    border: white 1.5px solid;
  }
  
  
  .big2{
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    margin: 30px auto;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    gap: 30px;
  }
  .big2 div{
    margin: 20px;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 210px;

  }
  .big2 div i{
    font-size: 35px;
   color: #7931ee ;
  }
  .big2 div:hover{
    transform: scale(1.1);
  }
  

  .big3{
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    margin: 30px auto;
   background-color: white;
    text-align: center;
    gap: 30px;
   

  }
  #api{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 20px;
  }
  .class{
    width: 300px;
   
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    
    transition:  0.5s;
    box-shadow: 10px 10px 25px rgb(191, 191, 193);
  }
  
  .class:hover {
    transform: scale(1.05);
  }
  
  .class img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .class h3 {
    color: #333;
    margin: 30px 0 30px;
  }
  
  .class p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .class .vew {
    background: linear-gradient(to right, #486bc4, #7931ee);

    color: white;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  .ex{
    padding: 3px;
    border-radius: 20px;
    background: linear-gradient(to right, #486bc4, #7931ee);
    color: white;
    transition: 0.5s;


  }
  .class button:hover {
    
    transform: scale(.9);
  }
  
  .big4{
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    margin: 30px auto;
   background-color: white;
    text-align: center;
    gap: 50px;
  }
  .number{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 30px;
  }
  .xx{
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .xxx{

    border-radius: 20px;
    width: 80%;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    gap: 30px;
    background: linear-gradient(to right, #486bc4, #682acd);

  }
  .xx button{
    transition: .5s;
    border-radius: 6px;
    padding: 10px;
    color: aliceblue;
    background: linear-gradient(to right, #486bc4, #7931ee);
  }
  .xx button:hover{
    transform: scale(.9);
  }
  footer{
    background-color: #313030;


  }
  .brouse{
    border: none;
  }
  .create{
    border: white 1.5px solid;

  }
 .social-icons{
 
    padding: 10px;
    display: flex;
    justify-content: flex-end;

 }
 .social-icons a{
    padding: 10px;
 }
 .rr{
  margin: 10px;
  margin-top: 20px;
 }
